body{
    display: flex;
    flex-basis: auto;
    /* width: 120vw; */
    /* height: 200vh;  */
    flex-direction: column;
    margin: 0;
    flex: 1 ;
    min-height: 100vh;
    background: #d8dde0;
}

.bodySections{
    display: flex;
    background: #d8dde0;
    align-content: stretch;
    height: 100%;
    min-height: 100vh;
}

.nav{
    display: flex;
    height: 60px;
    background: #144974;
    padding: 0;
    justify-content: align-left;
}

.navCubes{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white
}

#navUl{
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
}

.navLi{
    display: flex;
    align-items: center;
    padding: 10px;
    /* border: rgb(59, 55, 55);
    border-width: 1px;
    border-style: solid; */
    text-align: center;
    border-radius: 4px;
    color: white
}

.navLi:hover{
    background-color: #456f93;
}


.sideNav{
    display:flex;
    width: 120px;
    background-color: #adcce7;
    flex-direction: column;
}

.sideNavCubes{
    display: flex;
}

.Display{
    display: flex;
}

#sideNavUl{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    flex-direction: column;
    /* get the side nav to show no   */
}

.sideLi{
    display: flex;
    text-align: center;
    padding: 10px;
    border-bottom: 2px rgb(59, 55, 55) solid;
    border-width: 2px;
}

.sideLi:hover{
    background-color: #9bb7d0;
}

/* .verticalContent{
    display: flex;
    border: orangered;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
} */

.verticalContent{ /* central content window */
    display: flex;
    background: #d8dde0;
    /* border-style: solid;
    border-width: 1px;
    border-color: green; */
    margin: 10px;
    flex-direction: column;
    /* min-width: 80vw; */
    min-height: 60vh;
}

.timerBar{
    display: flex;
    background: #d8dde0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(59, 55, 55);
    border-radius: 4px;
    justify-content: space-between;
}

#timer{
    display: flex;
    margin: 4px;
}

.timer{
    display: flex;
}

#word{
    display: flex;
    margin: 4px;
}

.wordBox{
    display: flex;
    border: solid;
    min-width: 200px;
    border-width: 1px;
    background-color: whitesmoke;
}

.contentWindow{
    display: flex;
    background: whitesmoke;
    border-style: solid;
    /* border-width: 1px;
    border-radius: 6px;
    border-color: blue; */
    margin: 10px;
    /* min-width: 650px;
    min-height: 700px; */
}

.wordList{
    display: flex;
    background: whitesmoke;
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
    margin: 10px;
}

h3{
    margin: auto;
}

#easy-grid {
display: grid;
grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
}

#medium-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#hard-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    flex: 1;
}

.element {
background-color: #f0f4f8;
border: 3px solid grey;
padding: 5px;
font-size: 30px;
text-align: center;
}

.selected{
    background-color: darkgray;
}

.valid{
background-color: lightgreen;
}

.completedWord{
 color: green;  
}

.solved{
    background-color: green;
}

#easy-grid:hover{
    cursor: pointer;
}

#medium-grid:hover{
    cursor: pointer;
}

#hard-grid:hover{
    cursor: pointer;
}

.del{
    background-color: lightcoral;
}

.menu{
    display: flex;
    background-color: lightsteelblue;
    border-color: rgb(173, 166, 166);
    border-width: 5px;
    border-style: solid;
    flex-basis: 1 1 auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-width: 60vw;
    min-height: 60vh;
}

.menuItem{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    font-size: 150%;
}
.submitButton{
    display: block; 
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 12px;
}

.contentRight{
    display: flex;
    background: #f0f4f8;
    border-style: solid;
    border-width: 1px;
    /* border-color: purple; */
    margin: 10px;
    padding: 10px;
    justify-self: flex-start;
    /* flex-basis: 1 1 auto; */
    min-height: 40vh;
    max-height: 80vh;
    /* align-self: flex-end; */
}

.wordListLi{
    padding-left: 4px;
}

#configDesc{
    border: lightslategray;
    border-width: 2px;
    border-style: solid;
    
}

#difficulty{
    background-color: lightsteelblue;
    border-color: grey;
    border-width: 5px;
    border-style: solid;
    margin: 50px;
    font-size: 150%;
}

#submitConfig{
    display: block; 
    margin: 0 auto;
    padding: 15px 32px;
    background-color: green;
    color: white;
    font-size: 18px;
}

/* theme
#eafffa
#b8ffee
#70ffde
#29ffcd
#00e0ac
#009b77
#008a6a
#007a5e
#006b52
#005c46
#004d3b */

/* 
.w3-theme-l5 {color:#000 !important; background-color:#eafffa !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8ffee !important}
.w3-theme-l3 {color:#000 !important; background-color:#70ffde !important}
.w3-theme-l2 {color:#000 !important; background-color:#29ffcd !important}
.w3-theme-l1 {color:#fff !important; background-color:#00e0ac !important}
.w3-theme-d1 {color:#fff !important; background-color:#008a6a !important}
.w3-theme-d2 {color:#fff !important; background-color:#007a5e !important}
.w3-theme-d3 {color:#fff !important; background-color:#006b52 !important}
.w3-theme-d4 {color:#fff !important; background-color:#005c46 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004d3b !important}

.w3-theme-light {color:#000 !important; background-color:#eafffa !important}
.w3-theme-dark {color:#fff !important; background-color:#004d3b !important}
.w3-theme-action {color:#fff !important; background-color:#004d3b !important}

.w3-theme {color:#fff !important; background-color:#009b77 !important}
.w3-text-theme {color:#009b77 !important}
.w3-border-theme {border-color:#009b77 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009b77 !important}
.w3-hover-text-theme:hover {color:#009b77 !important}
.w3-hover-border-theme:hover {border-color:#009b77 !important} */